@media (min-width: 320px) {
    .label {
        position: absolute;
        width: 138px;
        height: 19px;
        left: 30px;
        top: 280px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        /* or 125% */


        color: #000000;
    }
}