.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.total-payment{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.75rem;
    margin-top: 1rem;
}

.total-payment-label{
    font-weight: 400;
    color: #000;
}

.img-cards{
    display: flex;
    justify-content: start;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
}

.img-card{
    width: 2.5rem;
    height: 2.5rem;
}