.set-password-page{
    background-color: #EBEDF0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.set-password-title{
    color: #1F2D3D;
    font-weight: bold;
    font-size: 1.88rem;
    font-family: 'Open Sans';
    text-align: center;
    margin-inline: auto;
    margin-top: 0;
    max-width: 90%;
}

.set-password-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.set-password-form{
    background-color: #FFFEFE;
    padding-inline: 10px;
    border-radius: 8px;
    max-width: 700px;
    width: 85%;
    padding-block: 32px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.set-password-button{
    background-color: #1F2D3D;
    height: 32px;
    width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
}

.set-password-button:hover{
    color: #FFAA00 !important;
}

.set-password-ant-form-item-label{
    padding-bottom: 0px !important;
}

.set-password-logo{
    object-fit: cover;
    max-width: 156px;
    width: 30vw;
}

@media(min-width: 550px){
    .set-password-input{
        width: 80%;
        margin-left: 1%;
        padding-block: 6px;
    }

    .set-password-desktop{
        width: 53.5%;
        margin-left: 27.5%;
    }

    .set-password-form{
        padding-block: 95px;
    }
}